.block-drupal-planet-feeds-block {
  background-color: whitesmoke;
  border: 0;
  padding: 15px;
}
.block-drupal-planet-feeds-block .block__title {
  background: none;
  font-size: 1.38461em;
  font-weight: normal;
  padding: 10px 10px 8px;
}
.block-drupal-planet-feeds-block .drupal_planet_feeds_block-wrapper .planet-links {
    background: white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    font-size: 0.875rem;
}
.block-drupal-planet-feeds-block .drupal_planet_feeds_block-wrapper .planet-links .planet-link {
  line-height: 1.2em;
  margin: 0 0 0.6em 0;
  padding: 0;
  border-bottom: 1px solid gainsboro;
}
.block-drupal-planet-feeds-block .drupal_planet_feeds_block-wrapper .planet-links .planet-link:last-child {
  border-bottom: unset;
}
.block-drupal-planet-feeds-block .drupal_planet_feeds_block-wrapper .planet-links .planet-link a {
  color: #0678be;
  text-decoration: none;
}
.block-drupal-planet-feeds-block .drupal_planet_feeds_block-wrapper .planet-link-more {
  line-height: 1.2em;
  margin: 0 0 0.6em 0;
  padding: 0;
  text-align: right;
}
.block-drupal-planet-feeds-block .drupal_planet_feeds_block-wrapper .planet-link-more a {
  text-decoration: none;
}
