{#
/**
 * @file
 * Default theme implementation to display a formatted drupal planet feeds block.
 *
 * Available variables:
 * - planet_links: List of planet links to be shown within block.
 * - more_link: Link to the planet to redirect to drupal.org.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}
<div class="drupal_planet_feeds_block-wrapper">
  <div class="planet-links">
    {% for key,planet_link in planet_links %}
      <div class="planet-link planet-link-{{ key }}">
        <a href="{{ planet_link.link }}">{{ planet_link.title }}</a>
      </div>
    {% endfor %}
  </div>
  <div class="planet-link-more">
    <a href="{{ more_link }}">More</a>
  </div>
</div>
